body {
	font-family: sans-serif;
	background: #bbb;
	color: #333;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
h2 {
	font-family: arial;
	text-transform: uppercase;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.layout {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 6px;
	padding-top: 1px;
}
.wrap {
	margin-top: 60px;
}
header {
	width: 620px;
	float: left;
	margin-left: 40px;
}
header > div {
	display: inline-block;
	vertical-align: middle;
}
header .logo {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 1.5em;
	position: relative;
}
.logo span {
	display: block;
	position: absolute;
}
.logo span:first-child {
	top: 35px;
	left: 35px;
}
.logo span:last-child {
	bottom: 35px;
	right: 35px;
}
.logo::after {
	content: "";
	display: block;
	width: 120px;
	height: 0;
	border-top: 2px solid currentcolor;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -60px;
	transform: rotate(-45deg);
}
.person {
	margin-left: 50px;
}
.person .name {
	font-size: 2.5em;
	margin-bottom: 15px;
}
.person .job {
	font-size: 18px;
	position: relative;
	left: 1px;
}

/****contact****/
.contact {
	width: 300px;
	float: right;
}
.contact h2 {
	border-bottom: 5px solid currentcolor;
}
.contact > p > span {
	display: inline-block;
	padding-right: 15px;
	font-weight: bold;
}
/****basic-1****/
.basic-1, .basic-2 {
	margin: 40px;
}
.basic-1 h2 {
	width: 332px
}
.basic-1 .content {
	border-left: 2px solid currentcolor;
	padding-left: 115px;
}
.basic-1 .title {
	position: relative;
}
.basic-1 .title::before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background: currentColor;
	border-radius: 50%;
	position: absolute;
	left: -121px;
}
.time,
.pro {
	color: #bbb;
}
.edu .title {
	margin-bottom: 5px;
}
.pro {
	margin-top: 0;
}
.basic-2 .content {
	padding-left: 115px; 
}
.basic-2 .title {
	position: relative;
}
.basic-2 .title::before, .skill li::before {
	content: "+";
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid currentcolor;
	border-radius: 50%;
	position: absolute;
	line-height: 20px;
	text-indent: 6px;
	font-weight: bold;
}
.basic-2 .title::before {
	top: -2px;
	left: -115px;
}
.skill li::before {
	top: -2px;
	left: -5px;
}
.activ {
	float: left;
	width: 400px;
}
.skill {
	width: 400px;
	float: right;
}
.skill li {
	float: left;
	width: 150px;
	padding-left: 50px;
	margin-bottom: 80px;
	position: relative;
}